* {
    padding: 0;
    margin: 0;
}

.inner-bg.text-center p {
    font-size: 6em;
    color: rgb(177, 20, 20);
}

.inner-bg.text-center {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 48px;
}

.top-header {
    position: relative;
}

.nav.row-header {
    position: absolute;
    top: 0;
    left: 0;
}

a {
    color: #d9ecf7;
    text-decoration: none;
}

.input-group {
    margin-top: 0.8em;
}

.inner-bg.text-center p {
    font-size: 6em;
    color: rgb(177, 20, 20);
}

.inner-bg.text-center {
    position: absolute;
    width: 100%;
    top: -59%;
    left: 1px;
}

.w3-input {
    margin-top: 0.6em;
}

.w3-border {
    border: 1px solid #ccc !important;
    border-radius: 0.5em;
    height: 30px;
}

.footer {
    background-color: #c6c6a7;
    font-family: 'Minion W01',Times,"Times New Roman",serif;
}

.footer-info li,
.footer-nav li {
    display: inline-table;
    padding: 15px;
}

    .footer-info li a,
    .footer-nav li a {
        color: black;
        display: block;
        transition: all 0.5s linear;
    }

        .footer-info li a:hover,
        .footer-nav li a:hover {
            opacity: 0.6;
            text-decoration: none;
        }

.footer-info,
.footer-nav {
    margin-bottom: 0;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: rgba(36, 150, 195, 0.74) !important;
    white-space: unset;
}

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: #8dece9;
        text-decoration: none;
        background-color: #428bca;
    }

.navbar-inverse {
    background-color: rgba(90, 90, 90, 0.57) !important;
    border-color: rgba(128, 128, 128, 0.7) !important;
}

a {
    color: #cd163f;
    text-decoration: none;
    -webkit-transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -ms-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
}

.btn-danger {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

.col-sm-12 {
    width: 100%;
    position: absolute !important;
}
