@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_ViewDetailLayout.cshtml";
}


<link href="~/Content/About us/landing-page.min.css" rel="stylesheet">







<div class="intro-header">
    <div class="home-below-menu">
        <h2>Giới thiệu</h2>
    </div>
</div>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-custom">
                    <div class="panel-body panel-body-custom">
                        <h1 style="text-align:center"><strong>WELCOME</strong></h1>

                        <p style="text-align:justify">
                            Công ty bất động sản PPC Rental (PPC = Perfect Property Company) là Doanh nghiệp hoạt động chuyên nghiệp trong
                            lĩnh vực môi giới và tiếp thị bất động sản trong nước cũng như quốc tế. PPC Rental được phát triển dựa trên nền tảng là sự
                            hiểu biết sâu sắc về thị trường bất động sản, pháp luật và mối quan hệ vững chắc với các nhà đầu tư bất động sản chuyên
                            nghiệp tại Việt Nam và đặc biệt là bất động sản tại Thành phố Hồ Chí Minh.  
                        </p>

                        <p style="text-align:center"><img alt="" src="~/Images/About us.jpg"></p>

                        <hr>
                        <p>&nbsp;</p>
                        <div class="col-sm-4">
                            <h4 style="text-align:justify"><strong>ABOUT US</strong></h4>

                            <p style="text-align:justify">Công ty bất động sản hoàn hảo (PPC) được biết đến như là một doanh nghiệp chuyên nghiệp hoạt động trong lĩnh vực môi giới bất động sản và tiếp thị trong nước và quốc tế. PPC Rental tập trung vào hai lĩnh vực chính: - Bất động sản - Khu du lịch nghỉ dưỡng , là lựa chọn tin cậy và hài lòng nhất cho tất cả khách hàng. PPC Rental được thành lập và phát triển trên cơ sở hiểu biết sâu sắc về thị trường bất động sản, luật pháp và mối quan hệ chặt chẽ với các nhà đầu tư bất động sản chuyên nghiệp ở Việt Nam và nước ngoài.</p>

                        </div>
                        <div class="col-sm-4">
                            <h4><strong>Sponsor</strong></h4>

                            <p style="text-align:justify">Công ty PPC Rental</p>

                        </div>
                        <div class="col-sm-4">
                            <h4><strong>Team Development</strong></h4>

                            <p style="text-align:justify">Văn Lang University - K21T1 - Team 5P1D</p>

                        </div>
                        <hr>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>